form, p, span {
	margin:0;
	padding:0; }
 
input { font:12px arial; }
 
a {
	color:#0000FF;
	text-decoration:none; }
 
	a:hover { text-decoration:underline; }
 
#wrapper, #loginform {
    margin: 0 auto;
    padding-bottom: 5px;
    background: #EBF4FB;
    width: 255px;
    height: 220px;
    border: 1px solid #ACD8F0; 
}
 
#loginform { padding-top:18px; }
 
	#loginform p { margin: 5px; }
 
#chatbox {
	font-size: 13px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 100px;
    width: 234px;
    border: 1px solid #ACD8F0;
    overflow: auto;
    float: left;
}
 
#usermsg {
    width: 190px;
    height: 20px;
    border: 1px solid rgb(74, 74, 74);
}
 
#submit { width: 60px; }
 
.error { color: #ff0000; }
 
#menu { padding:12.5px 25px 12.5px 25px; }
 
.welcome { float:left; }
 
.logout { float:right; }
 
.msgln { margin:0 0 2px 0; }
